@using SmartCode
@using SmartCode.Generator.Entity
@using static SmartCode.Generator.RazorTemplates.Contributions.AppFx.Common;
@model BuildContext
@{
    var project = Model.Project;
    var build = Model.Build;
    var table = Model.GetCurrentTable();
}
<form *ngIf="(account.info | async) as info" class="card detail"
  [antiforgery]="editable" [@animation]="animation"
  (@animation.done)="onAnimationEvent($event)" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['app_privileges.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <i class="fa fa-check"></i> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <i class="fa fa-times"></i> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
@foreach (var col in table.Columns) {
    if (col.LanguageType == "boolean") {
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"
          id="@(col.ConvertedName)" name="@(col.ConvertedName)"
          [(ngModel)]="model.@(col.ConvertedName)" [disabled]="!editable">
        <label class="custom-control-label text-muted"
          for="@(col.ConvertedName)">
          @col.GetSummary()
        </label>
      </div>
    </div>
    }
    else {
    <div class="form-group" [class.is-valid]="@(col.ConvertedName).valid"
      [class.is-invalid]="!(@(col.ConvertedName).valid || @(col.ConvertedName).pristine)">
      <label class="form-label text-muted" for="@(col.ConvertedName)">@col.GetSummary() @if (!col.IsNullable) { <i class="text-danger">*</i> }</label>
      <input class="form-control" type="text" id="@(col.ConvertedName)" name="@(col.ConvertedName)"
        placeholder="请输入@(col.GetSummary()) ..." [(ngModel)]="model.@(col.ConvertedName)"
        [class.is-invalid]="!(@(col.ConvertedName).valid || @(col.ConvertedName).pristine)"
        [class.is-valid]="@(col.ConvertedName).valid"
        required @($"#{col.ConvertedName}")="ngModel" [disabled]="!editable"
      />
    </div>
    }
}
  </div>
  <div *ngIf="info.privileges['app_privileges.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <i class="fa fa-check"></i> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <i class="fa fa-times"></i> 取消
    </button>
  </div>
</form>
