@using SmartCode
@using SmartCode.Generator.Entity
@using static SmartCode.Generator.RazorTemplates.Contributions.AppFx.Common
@inherits SmartCode.TemplateEngine.Impl.RazorCoreTemplate<SmartCode.BuildContext>
@{
    var project = Model.Project;
    var build = Model.Build;
    var table = Model.GetCurrentTable();
}
<nz-card *ngIf="(account.info | async) as info"
  class="ant-card-data-detail m-0" [nzTitle]="title" [nzExtra]="toolsTpl"
  [nzActions]="[okTpl, cancelTpl]">
  <ng-template #toolsTpl>
    <nz-button-group nzSize="small">
      <button *ngIf="info.privileges['@(table.Name).update'] && editable"
        type="button" nz-button nzType="primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon class="me-1" iconPath="bi/check"></svg-icon> 保存
      </button>
      <button type="button" nz-button nzType="default"
        (click)="cancel()">
        <svg-icon class="me-1" iconPath="bi/x"></svg-icon> 取消
      </button>
    </nz-button-group>
  </ng-template>
  <form nz-form nzLayout="vertical" #detailForm="ngForm">
@foreach (var col in table.Columns) {
    <nz-form-item>
    @if (col.LanguageType == "boolean") {
      <label nz-checkbox id="@(col.ConvertedName)" name="@(col.ConvertedName)" for="@(col.ConvertedName)"
        [(ngModel)]="model.@(col.ConvertedName)">
        @col.GetSummary()
      </label>
    } else {
      <nz-form-label nzFor="@(col.ConvertedName)" [nzRequired]="@(col.IsRequired())">
        @col.GetSummary()
      </nz-form-label>
      <nz-form-control [nzHasFeedback]="@(col.IsRequired())">
        <input nz-input type="text" id="@(col.ConvertedName)" name="@(col.ConvertedName)"
          placeholder="请输入@(col.GetSummary()) ..." [required]="@(col.IsRequired())"
          [disabled]="!editable"
          [(ngModel)]="model.@(col.ConvertedName)"
        />
      </nz-form-control>
    }
    </nz-form-item>
}
  </form>
  <ng-template #okTpl>
    <button *ngIf="info.privileges['@(table.Name).update'] && editable"
      class="float-start ms-4"
      nz-button nzType="primary" (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon class="me-1" iconPath="bi/check"></svg-icon> 保存
    </button>
  </ng-template>
  <ng-template #cancelTpl>
    <button class="float-end me-4" type="button" nz-button nzType="default" (click)="cancel()">
      <svg-icon class="me-1" iconPath="bi/x"></svg-icon> 取消
    </button>
  </ng-template>
</nz-card>
